LOKI_URL=http://127.0.0.1:3100/loki/api/v1/push
LOKI_REDACT_LOGS=true
LOKI_SENSITIVE_FIELDS=password,token,secret,request_ip
LOKI_MASK_VALUE=****************
LOKI_APPLICATION=test_api
LOKI_ENVIRONMENT=testing-Loki
LOKI_SERVICE=test_api

# For Notification
## Telegram
ENABLE_TELEGRAM_NOTIFICATION=true
TELEGRAM_LOG_ENVIRONNEMENT=PROD or DEV or STAGE or ELSE
TELEGRAM_BOT_TOKEN=<TELEGRAM_BOT_TOKEN>
TELEGRAM_CHAT_ID=<TELEGRAM_CHAT_ID>
