LOKI_URL=http://127.0.0.1:3100/loki/api/v1/push
LOKI_REDACT_LOGS=true
LOKI_SENSITIVE_FIELDS=password,token,secret,request_ip
LOKI_MASK_VALUE=****************
LOKI_APPLICATION=test_api
LOKI_ENVIRONMENT=testing-Loki
LOKI_SERVICE=test_api